/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-05-2019, 15:13:10
    Author     : DQ26525
*/

.ting-object-tree-page  .ting-object-tree-item {
    display: inline-block;
    width: 194px;
    margin: auto;
    min-height: 340px;
}

.ting-object-tree-item h2 {
    font-family: FaktPro-Light,sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    color: #000000;
    padding-top: 7px;
}

.ting-object-tree-item .field-name-ting-author {
    color: #000000;
    font-family: FaktPro-SemiBold,sans-serif;
    font-size: 14px;
}

.ting-object-tree {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ting-object-tree-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(rgba(255,138,0,.2),#fff);
    padding-top: 20px;
    padding-bottom: 20px;
        
}

.ting-object-tree-link {
    display: inline-block;
    width: 194px;
    margin: auto;
}

.ting-object-tree-link a {
    font-size: 18px;
    color: #006a97;
    text-transform: capitalize;
        
}

.ting-object-tree-breadcrumb {
    margin-bottom: 20px;
}

.ting-object-tree-links h2 {
    display: block;
    
}

.ting-object-tree-page .secondary-content {
    width: 21.6726%;
    float: left;
    display: block;
    margin-right: 2.4911%;
}

.ting-object-tree-page .ting-object-tree-main {
    width: 75.8363%;
    float: right;
}

.ting-object-tree-page ul {
    padding-left: 0px;
}

.node-type-inspiration-carousel .content-wrapper .pane-content .default-panel-layout .left-and-main-content .layout-wrapper .secondary-content {
    width: 21.6726%;
}

.node-type-inspiration-carousel .content-wrapper .pane-content .default-panel-layout .left-and-main-content .layout-wrapper .primary-content {
    width: 75.8363%;
}